@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.bg{
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
}


.bg1{
    background-color: #47a3f3;
    width: 340px;
    height: 50px;
}

.bg2{
    background-color: #52606d;
    width: 340px;
    height: 50px;
}

p{
  color: white;  
  font-size: 16px;
  font-family: Roboto;

}

.aa{
    color: white;  
    font-size: 16px;
    font-family: Roboto;
}