@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: nebulica;
    src: url(./Nebulica/Nebulica-Medium-iF6628d48893657.otf);
}

@font-face {
    font-family: helvetica;
    src: url(./helvetica/HelveticaNeueMedium.otf);
}

@font-face {
    font-family: Mabry;
    src: url(./MabryPro-Medium/MabryPro-Medium.ttf);
}